body {
  background: #ddd;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #333;
}

.st-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.st-scroll,
.st-panel {
  position: relative;
  width: 100%;
  height: 100%;
}

.st-scroll {
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.st-panel {
  background: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.st-deco {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -100px;
  background: #0d9b9b;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
  content: attr(data-icon);
  font-family: "RaphaelIcons";
  color: #fff;
  text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 90px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  -webkit-transform: rotate(-45deg) translateY(25%);
  -moz-transform: rotate(-45deg) translateY(25%);
  -o-transform: rotate(-45deg) translateY(25%);
  -ms-transform: rotate(-45deg) translateY(25%);
  transform: rotate(-45deg) translateY(25%);
}

.st-panel h2 {
  color: #0d9b9b;
  font-size: 50px;
  font-weight: 900;
  width: 80%;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.st-panel p {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #8b8b8b;
  z-index: 2;
  padding: 0;
  width: 50%;
  left: 25%;
  top: 50%;
  margin: 10px 0 0 0;
  -webkit-backface-visibility: hidden;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#order-a {
  margin: 0 10px 0 10px;
}
#order {
  width: 200px;
  height: 60px;
  border: none;
  background-color: white;
  color: #0d9b9b;
  border-radius: 10px;
  font-size: 23px;
  cursor: pointer;
  outline: none;
}

.st-color,
.st-deco {
  background: #0d9b9b;
}
.st-color [data-icon]:after {
  color: #0d9b9b;
}
.st-color .st-deco {
  background: #fff;
}
.st-color h2 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.st-color p {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 520px) {
  .st-panel h2 {
    font-size: 42px;
  }

  .st-panel p {
    width: 90%;
    left: 5%;
    margin-top: 0;
  }
  .st-container > a {
    font-size: 13px;
  }
  #buttons {
    flex-direction: column;
  }
  #order {
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 360px) {
  .st-container > a {
    font-size: 10px;
  }

  .st-deco {
    width: 120px;
    height: 120px;
    margin-left: -60px;
  }

  [data-icon]:after {
    font-size: 60px;
    -webkit-transform: rotate(-45deg) translateY(15%);
    -moz-transform: rotate(-45deg) translateY(15%);
    -o-transform: rotate(-45deg) translateY(15%);
    -ms-transform: rotate(-45deg) translateY(15%);
    transform: rotate(-45deg) translateY(15%);
  }
}
* @font-face {
    font-family: Vazir;
    src: url('Vazir-Medium.eot');
    src: url('Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('Vazir-Medium.woff2') format('woff2'),
         url('Vazir-Medium.woff') format('woff'),
         url('Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
#st-push-box {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #0d9b9b;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1999;
}
.st-push {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  flex: 1;
  text-align: center;
  font-size: 12px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
